h1 {
  margin-top: 0px;
  margin-bottom: 0em;
  font-family: Outfit, sans-serif;
  color: #fff;
  font-size: 4.5em;
  line-height: 110%;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Outfit, sans-serif;
  font-size: 2.75em;
  line-height: 120%;
  font-weight: 600;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Outfit, sans-serif;
  font-size: 1.5em;
  line-height: 150%;
  font-weight: 500;
}

p {
  margin-bottom: 0px;
}

li {
  margin-bottom: 0.25em;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 6.25em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.container {
  width: 100%;
  max-width: 100vw;
  margin-right: 7.5em;
  margin-left: 7.5em;
  padding-right: 6.25em;
  padding-left: 6.25em;
}

.container.container_2 {
  max-width: 100vw;
  margin-right: 5em;
  margin-left: 5em;
}

.nav-link {
  display: none;
  margin-left: 1.75em;
  padding: 0.625em;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-family: Inter, sans-serif;
  color: #202027;
  font-size: 1em;
  line-height: 175%;
  font-weight: 400;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.w--current {
  color: #202027;
}

.nav-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta-btn-2nd {
  margin-left: 2.375em;
  padding: 0.5em 1.5em;
  border-style: none;
  border-width: 0.05em;
  border-color: #202027;
  border-radius: 0.25em;
  background-color: #202027;
  background-image: linear-gradient(45deg, #4d91ff, #ca99ff);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-family: Inter, sans-serif;
  color: #202027;
  font-size: 1em;
  line-height: 175%;
  font-weight: 600;
}

.cta-btn-2nd:hover {
  background-color: #33333d;
}

.body {
  background-color: #f3f5f5;
  font-family: Inter, sans-serif;
}

.hero-section {
  width: 100vw;
}

.container_section {
  margin-right: 5em;
  margin-left: 5em;
  padding-right: 6.25em;
  padding-left: 6.25em;
  color: #202027;
}

.container_section.get-in-touch-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container_section.hero-cont {
  margin-right: 0em;
  padding-right: 0em;
}

.container_section.is--process {
  margin-right: 0em;
  padding-right: 0em;
}

.text-div {
  width: 60%;
  margin-bottom: 4em;
}

.imagae-div {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.hero-section-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 55em;
  max-height: 55em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tags {
  display: none;
  margin-bottom: 0px;
  font-family: Inter, sans-serif;
  color: #202027;
  font-size: 1.125em;
  line-height: 1.8em;
  font-weight: 300;
}

.text-span {
  background-image: -webkit-gradient(linear, left top, right top, from(#4d91ff), to(#d0a6ff));
  background-image: linear-gradient(90deg, #4d91ff, #d0a6ff);
  color: #67a1ff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading {
  font-size: 4em;
  line-height: 110%;
}

.heading-hero {
  width: 90%;
  margin-top: 1em;
}

.underline {
  width: 36.5em;
  margin-top: 0.5em;
}

.heading-2 {
  line-height: 1em;
}

.brand {
  color: #fff;
}

.logo {
  width: 10em;
  font-family: Butler, sans-serif;
  font-size: 1.5em;
  line-height: 150%;
}

.description {
  max-width: 70%;
  margin-top: 1em;
  margin-bottom: 2.5em;
  font-family: Switzer, sans-serif;
  color: #fff;
  font-size: 1.25em;
  line-height: 140%;
  font-weight: 300;
}

.cta-button {
  padding: 1em 2.5em;
  border-radius: 0.4em;
  background-color: #67a1ff;
  background-image: linear-gradient(135deg, #66a0ff, #ca99ff);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-family: Inter, sans-serif;
  color: #202027;
  font-size: 1.125em;
  line-height: 140%;
  font-weight: 700;
}

.cta-button:hover {
  background-color: #33333d;
}

.cta-button.cta2 {
  padding: 0.75em 2.25em;
  font-size: 1em;
  line-height: 150%;
  font-weight: 600;
}

.cta-button.price-btn {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: #17171c;
  color: #fff;
  text-align: center;
}

.cta-button.price-btn:hover {
  background-color: #33333d;
}

.cta-button.price-btn.popular-btn {
  background-color: #d0a6ff;
  color: #17171c;
}

.cta-button.price-btn.popular-btn:hover {
  background-color: #67a1ff;
}

.video-container {
  position: relative;
  z-index: 10;
  overflow: hidden;
  width: 27.7em;
  height: 52em;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

.video {
  height: 61em;
}

.video-outline {
  position: absolute;
  left: 17%;
  top: 7px;
  z-index: 9;
  width: 27.7em;
  height: 42em;
  border-style: solid;
  border-width: 0.25em;
  border-color: #67a1ff;
  border-top-left-radius: 9999em;
  border-top-right-radius: 9999em;
  background-color: transparent;
}

.elem-over-video {
  position: absolute;
  left: 1%;
  bottom: 8.8%;
  z-index: 11;
  font-family: Switzer, sans-serif;
  color: #67a1ff;
  font-size: 37.5em;
  font-weight: 300;
}

.section {
  width: 100vw;
}

.section.trust-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 16em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.section.portfolio_section {
  padding-top: 7.875em;
  padding-bottom: 7.875em;
}

.section.about-section {
  display: none;
  padding-top: 4em;
  padding-bottom: 0em;
  background-color: transparent;
  color: #bdbdbd;
}

.section.pricing-section {
  padding-top: 7.875em;
  padding-bottom: 7.875em;
}

.section.get-in-touch-section {
  padding-top: 7.875em;
  padding-bottom: 7.875em;
  color: #202027;
}

.trust-div {
  color: #fff;
  text-align: center;
}

.highlight {
  color: #67a1ff;
  text-decoration: none;
}

.text-span-2 {
  color: #67a1ff;
}

.title {
  font-family: Inter, sans-serif;
  color: #202027;
  font-size: 2.75em;
  font-weight: 600;
  text-align: center;
}

.title.about-me-title {
  text-align: left;
}

.work-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5.625em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.project_video_div {
  overflow: hidden;
  width: 22em;
  height: 34em;
  border-radius: 1.5em;
}

.project_text {
  margin-top: 0.75em;
  font-family: Switzer, sans-serif;
  color: #fff;
  font-size: 1em;
  line-height: 150%;
  font-weight: 400;
}

.project-video {
  height: 130%;
}

.proejct-detail {
  font-family: Switzer, sans-serif;
  font-size: 1.25em;
  line-height: 150%;
  font-weight: 400;
}

.about-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.about-text-container {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Switzer, sans-serif;
  color: #fff;
  font-size: 1.25em;
  font-weight: 400;
}

.about-img-container {
  position: relative;
  width: 50%;
  text-align: center;
}

.paragraph {
  margin-bottom: 0.75em;
}

.paragraph-2 {
  margin-bottom: 0.75em;
}

.h2-div {
  margin-bottom: 1em;
}

.about-p-div {
  width: 80%;
  margin-bottom: 2.5em;
  line-height: 150%;
}

.image-about {
  position: relative;
  z-index: 2;
  width: 70em;
}

.image-about.img-absolute {
  position: absolute;
  right: 12%;
  z-index: 1;
  width: 32em;
  opacity: 0.5;
  -webkit-filter: blur(5em);
  filter: blur(5em);
}

.pricing-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.price-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 19.625em;
  height: 28em;
  margin-right: 0.625em;
  margin-left: 0.625em;
  padding-right: 2.5em;
  padding-left: 2.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 1em;
  background-color: #fff;
}

.price-headline {
  margin-top: 2em;
  margin-bottom: 2.875em;
  font-family: Outfit, sans-serif;
  color: #17171c;
  font-weight: 500;
  text-align: center;
}

.price {
  margin-bottom: 2.625em;
}

.price-elem {
  font-size: 3em;
  text-align: center;
}

.price-elem.popular-price {
  color: #d0a6ff;
}

.list {
  margin-bottom: 0px;
  padding-left: 1em;
}

.pack-title {
  margin-bottom: 5.625em;
  color: #fff;
  text-align: center;
}

.get-in-touch-text {
  width: 42em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: #fff;
  text-align: center;
}

.p-get-in-touch {
  margin-bottom: 0.75em;
  font-family: Switzer, sans-serif;
  font-size: 1.25em;
  line-height: 150%;
  font-weight: 400;
}

.email-link {
  color: #67a1ff;
}

.email-link:hover {
  color: #d0a6ff;
}

.email-link:focus {
  color: #d0a6ff;
}

.heading-3 {
  font-family: Inter, sans-serif;
  color: #202027;
  font-size: 5em;
}

.heading-4 {
  font-family: Inter, sans-serif;
  color: #202027;
}

.footer-dark {
  position: relative;
  display: block;
  padding: 2em 30px 15px;
  border: 1px none #000;
  background-color: #fff;
  color: #fff;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  font-family: Switzer, sans-serif;
  color: #fff;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-content {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  -ms-grid-columns: auto auto 1fr;
  grid-template-columns: auto auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
}

.title-small {
  margin-bottom: 12px;
  font-family: Outfit, sans-serif;
  font-size: 1em;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-link {
  margin-top: 12px;
  margin-bottom: 6px;
  color: #fff;
  font-size: 1em;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-social-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-left: -12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
  background-color: #33333d;
  color: #33333d;
}

.footer-copyright-center {
  font-family: Switzer, sans-serif;
  color: #202027;
  font-size: 1em;
  line-height: 16px;
  text-align: center;
}

.calendly {
  width: 100%;
  margin-top: 4em;
}

.footer-logo {
  font-family: Butler, sans-serif;
  font-size: 2em;
  line-height: 130%;
}

.paragraph-3 {
  font-family: Inter, sans-serif;
  color: #33333d;
  line-height: 170%;
  font-weight: 400;
}

.hero-img {
  width: 54em;
}

.paragraph-4 {
  margin-bottom: 1em;
  font-family: Inter, sans-serif;
  color: #202027;
  font-size: 1.25em;
  font-weight: 600;
}

.text-span-3 {
  color: #202027;
}

.footer-light {
  position: relative;
  padding: 80px 30px 40px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #fff;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.footer-wrapper-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-block-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-title {
  font-size: 1.25em;
  line-height: 32px;
  font-weight: 500;
  text-align: left;
}

.footer-link-two {
  margin-top: 20px;
  color: #1a1b1f;
  font-size: 1em;
}

.footer-link-two:hover {
  color: rgba(26, 27, 31, 0.75);
}

.footer-form {
  width: 315px;
  max-width: 100%;
  margin-bottom: 0px;
}

.footer-form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-form-field {
  height: 48px;
  margin-bottom: 0px;
  padding: 12px 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #a6b1bf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 14px;
  line-height: 22px;
}

.footer-form-field:hover {
  border-color: #76879d;
}

.footer-form-field:focus {
  border-color: #76879d;
}

.footer-form-field::-webkit-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-field:-ms-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-field::-ms-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-field::placeholder {
  color: rgba(26, 27, 31, 0.8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-submit {
  width: 50px;
  height: 48px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #1a1b1f;
  background-image: url('../images/');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.footer-form-submit:hover {
  background-color: #3a4554;
}

.footer-divider-two {
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #e4ebf3;
}

.footer-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-copyright {
  color: #3a4554;
  font-size: 1em;
}

.footer-social-block-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-left: -12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-link-2 {
  margin-left: 12px;
}

.footer-logo {
  width: 7em;
}

.blur-shapes {
  position: relative;
}

.blur-shape-circle {
  z-index: -1;
  width: 18.75em;
  height: 18.75em;
  border-radius: 500px;
  background-image: linear-gradient(150deg, rgba(11, 138, 255, 0.6) 13%, rgba(255, 94, 210, 0.6) 72%);
  -webkit-filter: blur(500px);
  filter: blur(500px);
}

.blur-shape-circle.blur-shape-hero2 {
  position: absolute;
  left: 1%;
  top: 2.3em;
  right: auto;
  width: 42%;
  height: 39em;
  border-radius: 700em;
  background-image: linear-gradient(150deg, rgba(51, 129, 255, 0.4) 20%, rgba(175, 102, 255, 0.2) 72%);
  -webkit-filter: blur(8em);
  filter: blur(8em);
}

.blur-shape-circle.blur-shape-hero2.blur-1 {
  left: 50%;
  top: 5%;
  width: 40%;
  height: 51em;
}

.div-block {
  position: relative;
}

.text-span-4 {
  border-width: 1px;
  border-color: #000;
  background-image: -webkit-gradient(linear, left top, right top, from(#67a1ff), to(#ca99ff));
  background-image: linear-gradient(90deg, #67a1ff, #ca99ff);
  text-decoration: none;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 4.2em;
  }

  .container.container_2 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px;
  }

  .container_section {
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px;
  }

  .text-div {
    width: 100%;
  }

  .imagae-div {
    width: 100%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .hero-section-div {
    height: auto;
    max-height: none;
    margin-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .video-container {
    width: 30em;
    height: 52em;
    margin-right: 5em;
  }

  .elem-over-video {
    left: 4%;
    bottom: 3%;
  }

  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-text-container {
    width: 100%;
  }

  .about-img-container {
    width: 100%;
    margin-top: 24px;
  }

  .pricing-container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .price-card {
    margin-bottom: 1.2em;
  }

  .container-2 {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .container-3 {
    max-width: 728px;
  }

  .footer-wrapper-two {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer-form {
    width: 100%;
    margin-top: 40px;
  }

  .footer-form-container {
    max-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
    line-height: 144%;
  }

  .container.container_2 {
    padding-right: 24px;
    padding-left: 24px;
  }

  .nav-link {
    font-size: 16px;
  }

  .nav-div {
    margin-top: 30px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .cta-btn-2nd {
    display: none;
    font-size: 16px;
  }

  .container_section.hero-cont {
    padding-right: 0px;
    padding-left: 24px;
  }

  .text-div {
    padding-right: 20px;
  }

  .tags {
    font-size: 16px;
  }

  .brand {
    padding-left: 0px;
  }

  .logo {
    font-size: 20px;
  }

  .description {
    max-width: 100%;
  }

  .cta-button {
    font-size: 16px;
  }

  .cta-button.cta2 {
    font-size: 16px;
  }

  .video-container {
    width: 34em;
    margin-right: 2vw;
  }

  .video-outline {
    left: 14%;
  }

  .elem-over-video {
    left: 1%;
    bottom: -45%;
  }

  .section.trust-section {
    height: 24em;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .title {
    font-size: 3.5em;
  }

  .work-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .project {
    margin-bottom: 20px;
  }

  .project_video_div {
    width: 37em;
    height: 54em;
  }

  .proejct-detail {
    font-size: 16px;
  }

  .about-p-div {
    width: 100%;
  }

  .pricing-container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }

  .price-card {
    width: 300px;
    height: 390px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .price-elem {
    font-size: 60px;
  }

  .list {
    font-family: Switzer, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .get-in-touch-text {
    width: 100%;
  }

  .p-get-in-touch {
    font-size: 16px;
  }

  .list-item {
    margin-bottom: 8px;
  }

  .list-item-2 {
    margin-bottom: 8px;
  }

  .footer-dark {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-block {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .title-small {
    font-size: 24px;
  }

  .footer-link {
    font-size: 16px;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, 0.75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .nav-menu {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #202027;
  }

  .menu-button {
    display: none;
    background-color: transparent;
  }

  .menu-button.w--open {
    background-color: #17171c;
  }

  .icon {
    display: none;
    color: #fff;
    font-size: 33px;
  }

  .footer-logo {
    font-size: 32px;
  }

  .footer-light {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-title {
    font-size: 20px;
  }

  .footer-link-two {
    font-size: 14px;
  }

  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .footer-social-link-2 {
    margin-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    height: 75px;
  }

  .container.container_2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container_section {
    padding-right: 30px;
    padding-left: 30px;
  }

  .imagae-div {
    margin-top: 24px;
  }

  .hero-section-div {
    margin-top: 30px;
  }

  .brand {
    padding-left: 0px;
  }

  .video-container {
    width: 40em;
    height: auto;
  }

  .video {
    height: 68em;
  }

  .video-outline {
    left: 0%;
    top: -10px;
    width: 34em;
    height: 50em;
  }

  .elem-over-video {
    left: -12%;
    bottom: -21%;
  }

  .section.trust-section {
    height: 200px;
  }

  .title {
    font-size: 24px;
  }

  .title.about-me-title {
    font-size: 28px;
  }

  .project {
    width: 260px;
    margin-bottom: 40px;
  }

  .project_video_div {
    width: 260px;
    height: 430px;
    border-radius: 15px;
  }

  .proejct-detail {
    margin-bottom: 4px;
  }

  .about-img-container {
    margin-top: 48px;
  }

  .image-about {
    width: 100%;
  }

  .price-card {
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .price-elem {
    font-size: 40px;
  }

  .list {
    margin-top: 40px;
  }

  .get-in-touch-text {
    margin-top: 24px;
  }

  .heading-3 {
    font-size: 40px;
  }

  .heading-4 {
    font-size: 24px;
  }

  .container-2 {
    max-width: none;
  }

  .footer-wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-block {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .title-small {
    font-size: 20px;
    font-weight: 500;
  }

  .footer-link:hover {
    color: #fff;
  }

  .footer-copyright-center {
    font-size: 16px;
  }

  .icon {
    font-size: 28px;
  }

  .paragraph-4 {
    font-size: 16px;
  }

  .container-3 {
    max-width: none;
  }

  .footer-wrapper-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-block-two {
    margin-top: 40px;
  }

  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }
}

@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-ExtraboldItalic.otf') format('opentype'), url('../fonts/Switzer-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-ExtralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Bold.otf') format('opentype'), url('../fonts/Switzer-Extrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-Bold.otf') format('opentype'), url('../fonts/Outfit-ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler_Bold.otf') format('opentype'), url('../fonts/Butler_ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler_Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler_Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}